# ide
*.sublime-project
*.sublime-workspace
.project
.pydevproject
.settings/
.idea/
.spyderproject

# build
*.pyc
dist/
build/
*.egg-info/
version.py

# docs
carousel/docs/_build/

# test
.cache/
__pycache__
carousel/tests/xlrdreader_testdata.xlsx.json
.coverage
cover/
classes_Carousel.png
packages_Carousel.png
make_uml_diagram
venv/
