# ide
*.sublime-project
*.sublime-workspace
.project
.pydevproject
.settings/
.idea/
.spyderproject

# build
*.pyc
dist/
build/
*.egg-info/
version.py

# docs
simkit/docs/_build/

# test
.cache/
__pycache__
simkit/tests/xlrdreader_testdata.xlsx.json
.coverage
cover/
classes_SimKit.png
packages_SimKit.png
make_uml_diagram
venv/
.vscode/
